/* 共用样式 */

body {
    font-family: Arial, sans-serif;
    background-image: url('common-background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

h2 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.purple-button {
    background-color: #a29bfe;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.purple-button:hover {
    background-color: #6c5ce7;
}

.signature {
    margin-top: 20px;
    font-style: italic;
    color: #333;
}

footer {
    background-color: rgba(249, 249, 249, 0.7);
    text-align: center;
    padding: 20px;
    opacity: 0.7;
    display: none;
}

}

/* Web 自适应样式 */

@media (max-width: 768px) {
    body {
        background-image: url('https://api.ciyuandun.com/?like=mobile-wallhaven');
        
    }
}

/* PC 自适应样式 */

@media (min-width: 769px) {
    body {
        background-image: url('https://api.ciyuandun.com/?like=pc-whiteHairs-wallhaven');
    }
}
